body {
	width: 350px;
	height: 520px;
	font-family: monospace;
}

 button {
    height: 25px;
    width: 80px;
	outline: none;
	font-family: monospace;
	border-radius: 2px;
}

#add_friend_input {
	font-family: monospace;
	padding: 4px;
}

.title {
	font-family: 'Alfa Slab One';
	color: black;
	font-size: 30px;
}

.plot_opts {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid grey;
}

.plot_opts a {
	width: 50% ;
	padding: 1em;
	font-size: 1.2em;
	font-family: monospace;
	text-align: center;
	margin: 2px;
}

.plot_content {
	padding-top: 2em;
}
.bottom_bar {
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	border-top: 1px solid grey;
}

#my-score-details {
	font-size: 1.4em;
}

.bottom_bar a {
	width: 33%;
	padding: 1em;
	font-size: 1.2em;
	font-family: monospace;
	text-align: center;
	margin: 2px;
	border-radius: 2px;
}

.selected{
	background-color: lightgray;
	font-weight: bold;
}

.bottom_bar a:hover {
	background: gainsboro;
}

td {
	text-align: center;
}