body {
	width: 250px;
	height: 400px;
}

 button {
    height: 25px;
    width: 80px;
    outline: none;
  }

.title {
	font-family: 'Alfa Slab One';
	color: black;
	font-size: 30px;
}

.bottom_bar_element {
	width: 25%;
	float: left;
	height: 50px;
	margin: 2px;
	padding: 8px;
	text-align: center;
	border: 1px solid transparent;

}

.bottom_bar {
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

#you_tab {
	border: 1px solid grey;
}


#friend_tab_content {
	display: none ;
}

#world_tab_content {
	display: none ;
}


.bottom_bar_element:hover {
	background: gainsboro;
}